@import "../mixins/sunset";

.button {
    cursor: pointer;
    font-family: $heading-font;
    font-size: 1.4rem;
    display: block;
    width: max-content;
    background: $secondary;
    background-size: 400%;
    // border: solid var(--input-border-width) $primary;
    padding: var(--button-vertical-padding) var(--button-horizontal-padding);
    border-radius: var(--button-radius);
    text-align: center;
    letter-spacing: 1px;

    &:hover {
        @include sunset;
    }

    &--zappa {
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $tertiary;
        background: white;
        border: solid 3px $primary;
    }

    &--small {
        font-size: 1.2rem;
        padding: var(--input-vertical-padding) var(--input-horizontal-padding);
    }
}

@media (max-width: $mobile) {
    .button {
        font-size: 1.2rem;

        &--zappa {
            font-size: 1.4rem;
        }

        &--small {
            font-size: 1rem;
        }
    }
}
