@import '../mixins/sunset';

.button {
    cursor: pointer;
    display: block;
    width: max-content;
    background: $secondary;
    background-size: 400%;
    border: solid 2px $primary;
    padding: 5px 20px;
    border-radius: 30px;

    &:hover {
        @include sunset;
    }
}
