@import '../mixins/sunset';

.button {
    cursor: pointer;
    display: block;
    width: max-content;
    background: $secondary;
    background-size: 400%;
    border: solid var(--input-border-width) $primary;
    padding: var(--button-vertical-padding) var(--button-horizontal-padding);
    border-radius: var(--button-radius);
    text-align: center;

    &:hover {
        @include sunset;
    }
}
