.gauge {
    $padding: 6px;
    $size: 24px; // Roughly contains 3-character strings
    $transition-duration: 0.5s;

    display: flex;
    background: $gauge-background-color;
    color: $gauge-text-color;

    &--vertical {
        align-items: flex-end;
        justify-content: center;
        padding: 0px $padding;
        min-height: 1.4rem;
        height: 1.4rem;
        width: $size;

        transition: height $transition-duration ease-out;
    }

    &--horizontal {
        align-items: center;
        padding: $padding;
        min-width: 1.6rem;
        width: 1.6rem;
        height: $size;

        transition: width $transition-duration ease-out;
    }
}
