.gauge {
    $padding: 6px;
    $size: 24px; // Roughly contains 3-character strings
    $opposite-size-min: 30px;
    $transition-duration: 0.5s;

    display: flex;
    background: $primary;
    color: $text-dark;

    &--vertical {
        align-items: flex-end;
        justify-content: center;
        padding: 0px $padding;
        min-height: $opposite-size-min;
        width: $size;
        height: $opposite-size-min;

        transition: height $transition-duration ease-out;
    }

    &--horizontal {
        align-items: center;
        padding: $padding;
        min-width: $opposite-size-min;
        height: $size;
        width: $opposite-size-min;

        transition: width $transition-duration ease-out;
    }
}
