.options {
    max-height: 300px;
    overflow-y: auto;
    border: solid var(--input-border-width) $primary;
    border-top: none;
    border-bottom-left-radius: var(--panel-radius);
    border-bottom-right-radius: var(--panel-radius);
    background: $secondary-dark;

    &__item {
        cursor: pointer;
        display: block;
        width: 100%;

        &:hover {
            background: $primary;
            color: $text-dark;
        }
    }
}
