@import "../mixins/palette";

.text {
    @include palette("color");

    &--description {
        font-style: italic;
    }

    &--italic {
        font-style: italic;
    }

    &--name {
        font-family: "Economica", sans-serif;
        letter-spacing: initial;
    }
}
