@import '../mixins/palette';

.text {
    @include palette('color');

    &--description {
        font-style: italic;
    }

    &--paragraph {}

    &--italic {
        font-style: italic;
    }

    &--name {
        font-family: 'Economica', sans-serif;
        letter-spacing: initial;
    }
}
