$red: #a6344c;
$orange: #d67338;
$cyan: #6795a8;
$green: #6c8642;
$black: #2c2821;
$grey: #7f7d74;
$white: #f9f9f7;

$palette-primary: $red;
$palette-secondary: transparent;
$palette-secondary-dark: transparent;
$palette-secondary-light: transparent;
$palette-ternary: $cyan;
$palette-black: $black;
$palette-white: $white;
$palette-text-dark: $black;
$palette-text-light: $black;
