$gold: #fcd098;
$blue: #4372a6;
$blue-dark: #1a3969;
$blue-light: #3976ae;
$red: #b44642;
$pink: #dfc4d8;
$crimson: #5a4969;
$black: #17382f;
$white: #eff1ee;

$palette-primary: $gold;
$palette-secondary: $blue;
$palette-secondary-dark: $crimson;
$palette-secondary-light: $blue-light;
$palette-ternary: $crimson;
$palette-black: $black;
$palette-white: $white;
$palette-text-dark: $red;
$palette-text-light: $gold;
