$gold: #fcd098;
$blue: #2e5dd4;
$blue-dark: #1547c4;
$blue-light: #4e7ffa;
$pink: #752451;
$black: #172229;
$white: #fff8f8;

$palette-primary: $gold;
$palette-secondary: $blue;
$palette-secondary-dark: $blue-dark;
$palette-secondary-light: $blue-light;
$palette-tertiary: $pink;
$palette-quaternary: $pink;
$palette-black: $black;
$palette-white: $white;
$palette-text-dark: $gold;
$palette-text-light: $gold;
