$yellow: #fac22c;
$gold: #fcd098;
$cyan: #4372a6;
$blue: #00a1e1;
$purple: #6b3f61;
$black: #010103;
$white: #fdf9f9;

$palette-primary: $gold;
$palette-secondary: $cyan;
$palette-secondary-dark: $purple;
$palette-secondary-light: $blue;
$palette-tertiary: $purple;
$palette-quaternary: $blue;
$palette-black: $black;
$palette-white: $white;
$palette-text-dark: $purple;
$palette-text-light: $gold;
