$yellow: #fac22c;
$gold: #fcd098;
$blue: #00a1e1;
$blue-dark: #4372a6;
$purple: #e70381;
$purple-dark: #6b3f61;
$black: #010103;
$white: #fdf9f9;

$palette-primary: $yellow;
$palette-secondary: $blue;
$palette-secondary-dark: $blue-dark;
$palette-tertiary: $purple;
$palette-tertiary-dark: $purple-dark;
$palette-quaternary: $yellow;
$palette-black: $black;
$palette-white: $white;
$palette-text-dark: $black;
$palette-text-light: $yellow;
$palette-background-dark: $black;
$palette-background-light: $yellow;
