$gold: #f3b667;
$turquoise: #435f70;
$turquoise-dark: #344e5a;
$turquoise-light: #8499a5;
$brown: #241e12;
$black: #191818;
$white: #fff8f8;

$palette-primary: $gold;
$palette-secondary: $black;
$palette-secondary-dark: $black;
$palette-secondary-light: $black;
$palette-tertiary: $brown;
$palette-quaternary: $gold;
$palette-black: $black;
$palette-white: $white;
$palette-text-dark: $black;
$palette-text-light: $gold;
