$pink: #d6a4b0;
$pink-dark: #c3899f;
$pink-light: #ebd5d7;
$turquoise: #459282;
$gold: #fcd098;
$black: #302a10;
$grey: #736e74;
$white: #f9f9f7;

$palette-primary: $gold;
$palette-secondary: $pink;
$palette-secondary-dark: $pink-dark;
$palette-secondary-light: $pink-light;
$palette-ternary: $turquoise;
$palette-black: $black;
$palette-white: $white;
$palette-text-dark: $black;
$palette-text-light: $white;
