body {
    font-family: 'Oswald', sans-serif;
    background: $secondary-dark;
    color: $primary;
    font-size: var(--default-font-size);
    background: linear-gradient(141deg, $secondary 0%, $secondary 70%, $ternary 90%);
    background-size: 250%;
    background-position: 100%;
    background-attachment: fixed;
}
