@import "./palettes/nautilus";
// @import "./palettes/deep-blue";
// @import "./palettes/promised-heights";
// @import "./palettes/freak";
// @import "./palettes/baxters";

$primary: $palette-primary;
$secondary: $palette-secondary;
$secondary-dark: $palette-secondary-dark;
$secondary-light: $palette-secondary-light;
$tertiary: $palette-tertiary;
$quaternary: $palette-quaternary;
$black: $palette-black;
$white: $palette-white;
$text-dark: $palette-text-dark;
$text-light: $palette-text-light;
