@import url('https://fonts.googleapis.com/css?family=Oswald');

// Font sizes
$fs-24: 2.4rem;
$fs-18: 1.8rem;
$fs-14: 1.4rem;
$fs-12: 1.2rem;
$fs-09: 0.9rem;
$headerFontSize: 50px; // TODO refact tout ça
$mainFontSize: 25px;
$specialInfoFontSize: 30px;

$headerFontSizeSmall: 30px;
$menuFontSizeSmall: 15px;
$mainFontSizeSmall: 20px;
$specialInfoFontSizeSmall: 26px;
$chartsFontSizeSmall: 12px;
