@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Economica');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

// Font sizes
$fs-24: 2.4rem;
$fs-18: 1.8rem;
$fs-14: 1.4rem;
$fs-12: 1.2rem;
$fs-09: 0.9rem;
