// Values
$borderRadius: 15px;
$borderThin: 3px;

:root {
    --aside-width: 250px;
    --aside-min-width: 170px;
    --default-font-size: 16px;
    --header-height: 68px;
    --tick-size: 24px;
}

@media (max-width: $mobile) {
    :root {
        --aside-width: 25%;
        --default-font-size: 14px;
        --header-height: 56px;
    }
}
