:root {
    --aside-width: 250px;
    --aside-min-width: 170px;
    --default-font-size: 16px;
    --header-height: 68px;
    --input-border-width: 2px;
    --label-gap: 10px;
    --tick-size: 24px;
    --form-item-gap: 10px;
    --input-vertical-padding: 5px;
    --input-horizontal-padding: 10px;
    --button-vertical-padding: 5px;
    --button-horizontal-padding: 10px;
    --button-radius: 30px;
    --panel-radius: 15px;
    --select-radius: 5px;
}

@media (max-width: $mobile) {
    :root {
        --aside-width: 25%;
        --default-font-size: 14px;
        --header-height: 56px;
    }
}
